<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.fei.org/"><img src="assets/img/FEI_logo.png" class="img-logo img-responsive" alt="Fédération Equestre Internationale"></a></li>
                    <li><a href="https://www.redmills.ie/"><img src="assets/img/CRM_logo.png" class="img-logo img-responsive" alt="Connolly's Red Mills Store"></a></li>
                    <li><a href="https://www.horseware.com/"><img src="assets/img/Horseware_logo.png" class="img-logo img-responsive" alt="Horseware Ireland"></a></li>
                    <li><a href="https://www.purina.com/"><img src="assets/img/Purina_logo.png" class="img-logo img-responsive" alt="Purina"></a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{test | date: 'yyyy'}} <a href="http://www.neal-fearon.com">Neal-Fearon.com</a>
                </span>
            </div>
        </div>
    </div>
</footer>
